/* Landing page */
body {
    background-color: #FBF8F3;
  }
  
  a, .nav-link{
    color: #000000;
  }
  
  .navbar-brand{
    font-weight: 700;
  }
  
.pet-photos{
    display: flex;
    border: solid #333 2px;
    border-radius: 2px;
    padding: 20px;
}

#email{
  bottom: 0px;
}