/* Landing page */
html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #FBF8F3;
  padding-top: 56px;
  margin: 10px;
}


a,
.nav-link {
  color: #000000;
}

.navbar-brand {
  font-weight: 700;
}

.jumbotron {
  background: url(img/corgi1.jpg) no-repeat center;
  background-size: cover;
  padding: 5em inherit;
}

#email {
  bottom: 0px;
}

#pet {
  background-color: aqua;
  border: 2px solid black;
  margin-top: 150px;
  margin-right: 90px;
  margin-bottom: 45px;
  padding: 200px;

}

footer {
  /* position: absolute; */
  display: table;
  bottom: 0px;
  height: 0px;
  margin: 0 auto;


}



/* about page */

#about-cards {
  background-color: pink;
  max-width: 35%;
  max-height: fit-content;
  margin: 50px 0 10px 0;
  text-align: center;
}

#card-group {
  justify-content: space-evenly;
  margin-top: 75px;

}

/* contact */

form{
  text-align: center;
  padding-bottom: 20px;
  
}




#contact-title{
  margin: auto;
  padding: 20px 20px 40px 20px;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1{
      font-size:30px;
  }
}